<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="n in 10">{{ n }}</li>
      </ul>
      <ul>
        <li v-for="curso in cursos">{{ curso }}</li>
        <li v-for="(curso, key) in cursos" v-text="curso + ' - ' + key"></li>
      </ul>
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(curso, key) in cursos2">
            <!-- <tr v-for="({titulo}, key) in cursos2"> destructuring assignment -->
            <td>{{ key }}</td>
            <td>{{ curso.titulo }}</td>
            <td>{{ curso.descricao }}</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <ul>
        <li
          v-for="p in publicacoes"
          :key="p.id"
          style="border: 1px solid; margin-bottom: 10px"
        >
          <div>
            {{ p.publicacao }}
            <hr />
            <input type="text" />
          </div>
        </li>
      </ul>
      <button @click="misturarArray()">Misturar Publicações</button>
      <hr />
      <ul>
        <li v-for="c in comentarios">{{ c.id }} - {{ c.comentario }}</li>
      </ul>
      <button @click="adicionarElemento()">Adicionar</button>
      <button @click="removerElemento()">Remover</button>
      <button @click="modificarElemento()">Modificar</button>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          cursos: ["Laravel", "SOLID", "Angular"],
          cursos2: {
            1000: {
              titulo: "Laravel",
              descricao: "Domine o framework PHP mais poderoso do mundo",
            },
            1001: {
              titulo: "Banco de dados",
              descricao:
                "Aprenda os principais bancos de dados relacionais no mercado",
            },
          },
          publicacoes: [
            { id: 1, publicacao: "Publicacao 1" },
            { id: 2, publicacao: "Publicacao 2" },
            { id: 3, publicacao: "Publicacao 3" },
          ],
          comentarios: [
            { id: 1, comentario: "Comentário 1" },
            { id: 2, comentario: "Comentário 2" },
            { id: 3, comentario: "Comentário 3" },
          ],
        },
        methods: {
          misturarArray() {
            let misturado = [];
            misturado[0] = this.publicacoes[2];
            misturado[1] = this.publicacoes[0];
            misturado[2] = this.publicacoes[1];

            this.publicacoes = misturado;
          },
          adicionarElemento() {
            // this.comentarios[3] = { id: 4, comentario: "Novo comentário" };
            this.comentarios.push({ id: 4, comentario: "Novo comentário" });
          },
          removerElemento() {
            this.comentarios.pop();
          },
          modificarElemento() {
            this.$set(this.comentarios, 1, {
              id: 2,
              comentario: "Comentário modificado",
            });
          },
        },
      });
    </script>
  </body>
</html>
